In [92]:
# !pip install xlrd

In [93]:
import pandas as pd
# from sqlalchemy import create_engine

In [94]:
# Incorporated citipy to determine city based on latitude and longitude
# from citipy import citipy

In [95]:
# collect user and password from config.py file
# from config import user, passw

## Extract CSV and XLS into DataFrames

In [96]:
# NBA 2019-2020 dataframe from .xls
path1 = "data/NBA 2019-2020 v3.xls"
# income_df = pd.read_excel(path2, index_col=0)  
nba_19_20_df = pd.read_excel(path1)  

nba_19_20_df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Steven Adams,C,26,OKC,63,63,1680,283,478,...,0.582,207,376,583,146,51,67,94,122,684
1,2,Bam Adebayo,PF,22,MIA,72,72,2417,440,790,...,0.691,176,559,735,368,82,93,204,182,1146
2,3,LaMarcus Aldridge,C,34,SAS,53,53,1754,391,793,...,0.827,103,289,392,129,36,87,74,128,1001
3,4,Kyle Alexander,C,23,MIA,2,0,13,1,2,...,NaN,2,1,3,0,0,0,1,1,2
4,5,Nickeil Alexander-Walker,SG,21,NOP,47,1,591,98,266,...,0.676,9,75,84,89,17,8,54,57,267

In [97]:
# NBA salaries dataframe from .xls
path2 = "data/NBA 2020-2021 v3.xls"
# income_df = pd.read_excel(path2, index_col=0)  
nba_20_21_df = pd.read_excel(path2)  

nba_20_21_df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF,21,MIA,61,4,737,124,228,...,0.509,73,135,208,29,20,28,43,91,304
1,2,Jaylen Adams,PG,24,MIL,7,0,18,1,8,...,NaN,0,3,3,2,0,0,0,1,2
2,3,Steven Adams,C,27,NOP,58,58,1605,189,308,...,0.444,213,301,514,111,54,38,78,113,438
3,4,Bam Adebayo,C,23,MIA,64,64,2143,456,800,...,0.799,142,431,573,346,75,66,169,145,1197
4,5,LaMarcus Aldridge,C,35,TOT,26,23,674,140,296,...,0.872,19,99,118,49,11,29,27,47,352

In [98]:
# NBA 2020-2021 dataframe from .xls
path3 = "data/NBA_Salaries.xls"
# income_df = pd.read_excel(path2, index_col=0)  
nba_salaries_df = pd.read_excel(path3)  

nba_salaries_df.head()

   ID             Player   2021/22
0   1      Stephen Curry  43006362
1   2         Chris Paul  41358814
2   2  Russell Westbrook  41358814
3   4       James Harden  41254920
4   4          John Wall  41254920

In [99]:
# Extract poverty dataframe from .csv
# path4 = "Sources/4_PovertyEstimates.csv"
# poverty_df = pd.read_csv(path4)
# poverty_df.head()

## TRANSFORM DataFrames

### TRANSFORM DataFrame Gun Violence

In [100]:
nba_19_20_df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Steven Adams,C,26,OKC,63,63,1680,283,478,...,0.582,207,376,583,146,51,67,94,122,684
1,2,Bam Adebayo,PF,22,MIA,72,72,2417,440,790,...,0.691,176,559,735,368,82,93,204,182,1146
2,3,LaMarcus Aldridge,C,34,SAS,53,53,1754,391,793,...,0.827,103,289,392,129,36,87,74,128,1001
3,4,Kyle Alexander,C,23,MIA,2,0,13,1,2,...,NaN,2,1,3,0,0,0,1,1,2
4,5,Nickeil Alexander-Walker,SG,21,NOP,47,1,591,98,266,...,0.676,9,75,84,89,17,8,54,57,267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
646,525,Trae Young,PG,21,ATL,60,60,2120,546,1249,...,0.860,32,223,255,560,65,8,289,104,1778
647,526,Cody Zeller,C,27,CHO,58,39,1341,251,479,...,0.682,160,251,411,88,40,25,75,140,642
648,527,Tyler Zeller,C,30,SAS,2,0,4,1,4,...,NaN,3,1,4,0,0,0,0,0,2
649,528,Ante Zizic,C,23,CLE,22,0,221,41,72,...,0.737,18,48,66,6,7,5,10,27,96
650,529,Ivica Zubac,C,22,LAC,72,70,1326,236,385,...,0.747,197,346,543,82,16,66,61,168,596

In [101]:
nba_19_20_df = nba_19_20_df.dropna()
nba_19_20_df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Steven Adams,C,26,OKC,63,63,1680,283,478,...,0.582,207,376,583,146,51,67,94,122,684
1,2,Bam Adebayo,PF,22,MIA,72,72,2417,440,790,...,0.691,176,559,735,368,82,93,204,182,1146
2,3,LaMarcus Aldridge,C,34,SAS,53,53,1754,391,793,...,0.827,103,289,392,129,36,87,74,128,1001
4,5,Nickeil Alexander-Walker,SG,21,NOP,47,1,591,98,266,...,0.676,9,75,84,89,17,8,54,57,267
5,6,Grayson Allen,SG,24,MEM,38,0,718,117,251,...,0.867,8,77,85,52,10,2,33,53,330
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,523,Justin Wright-Foreman,PG,22,UTA,4,0,45,7,20,...,0.750,0,5,5,7,2,0,3,5,19
645,524,Thaddeus Young,PF,31,CHI,64,16,1591,269,601,...,0.583,94,221,315,117,92,23,102,134,659
646,525,Trae Young,PG,21,ATL,60,60,2120,546,1249,...,0.860,32,223,255,560,65,8,289,104,1778
647,526,Cody Zeller,C,27,CHO,58,39,1341,251,479,...,0.682,160,251,411,88,40,25,75,140,642
650,529,Ivica Zubac,C,22,LAC,72,70,1326,236,385,...,0.747,197,346,543,82,16,66,61,168,596

In [102]:
duplicateRowsDF = nba_19_20_df[nba_19_20_df.duplicated(['Player'])]
duplicateRowsDF

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
19,19,Trevor Ariza,SF,34,SAC,32,0,791,64,165,...,0.778,21,125,146,50,35,7,28,63,192
20,19,Trevor Ariza,SF,34,POR,21,21,702,78,159,...,0.872,13,87,100,41,34,8,28,48,231
32,30,Keita Bates-Diop,PF,24,MIN,37,0,646,87,206,...,0.708,21,89,110,30,17,20,14,36,251
33,30,Keita Bates-Diop,SF,24,DEN,7,0,98,13,28,...,0.800,4,13,17,0,2,4,3,7,37
37,33,Kent Bazemore,SF,30,POR,43,21,1111,113,326,...,0.806,13,159,172,61,45,31,60,121,340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,504,Paul Watson,SF,25,TOR,8,0,70,10,19,...,0.778,2,13,15,5,3,1,3,4,31
628,510,Andrew Wiggins,SF,24,MIN,42,42,1455,351,790,...,0.720,48,171,219,155,29,36,107,101,942
629,510,Andrew Wiggins,SF,24,GSW,12,12,403,86,188,...,0.672,18,37,55,43,16,17,25,26,233
635,515,Marvin Williams,PF,33,CHO,41,1,808,94,210,...,0.860,15,94,109,41,26,22,25,71,275
636,515,Marvin Williams,PF,33,MIL,17,0,321,25,57,...,0.857,15,59,74,19,10,8,8,32,68

In [103]:
nba_19_20_df = nba_19_20_df.drop_duplicates("Player", keep='last')
nba_19_20_df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Steven Adams,C,26,OKC,63,63,1680,283,478,...,0.582,207,376,583,146,51,67,94,122,684
1,2,Bam Adebayo,PF,22,MIA,72,72,2417,440,790,...,0.691,176,559,735,368,82,93,204,182,1146
2,3,LaMarcus Aldridge,C,34,SAS,53,53,1754,391,793,...,0.827,103,289,392,129,36,87,74,128,1001
4,5,Nickeil Alexander-Walker,SG,21,NOP,47,1,591,98,266,...,0.676,9,75,84,89,17,8,54,57,267
5,6,Grayson Allen,SG,24,MEM,38,0,718,117,251,...,0.867,8,77,85,52,10,2,33,53,330
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,523,Justin Wright-Foreman,PG,22,UTA,4,0,45,7,20,...,0.750,0,5,5,7,2,0,3,5,19
645,524,Thaddeus Young,PF,31,CHI,64,16,1591,269,601,...,0.583,94,221,315,117,92,23,102,134,659
646,525,Trae Young,PG,21,ATL,60,60,2120,546,1249,...,0.860,32,223,255,560,65,8,289,104,1778
647,526,Cody Zeller,C,27,CHO,58,39,1341,251,479,...,0.682,160,251,411,88,40,25,75,140,642
650,529,Ivica Zubac,C,22,LAC,72,70,1326,236,385,...,0.747,197,346,543,82,16,66,61,168,596

In [105]:
nba_20_21_df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF,21,MIA,61,4,737,124,228,...,0.509,73,135,208,29,20,28,43,91,304
1,2,Jaylen Adams,PG,24,MIL,7,0,18,1,8,...,NaN,0,3,3,2,0,0,0,1,2
2,3,Steven Adams,C,27,NOP,58,58,1605,189,308,...,0.444,213,301,514,111,54,38,78,113,438
3,4,Bam Adebayo,C,23,MIA,64,64,2143,456,800,...,0.799,142,431,573,346,75,66,169,145,1197
4,5,LaMarcus Aldridge,C,35,TOT,26,23,674,140,296,...,0.872,19,99,118,49,11,29,27,47,352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,536,Delon Wright,PG,28,SAC,27,8,696,104,225,...,0.833,28,77,105,97,43,11,35,30,271
701,537,Thaddeus Young,PF,32,CHI,68,23,1652,370,662,...,0.628,168,255,423,291,74,40,137,152,823
702,538,Trae Young,PG,22,ATL,63,63,2125,487,1112,...,0.886,38,207,245,594,53,12,261,111,1594
703,539,Cody Zeller,C,28,CHO,48,21,1005,181,324,...,0.714,119,209,328,86,27,17,51,121,451
704,540,Ivica Zubac,C,23,LAC,72,33,1609,257,394,...,0.789,189,330,519,90,24,62,81,187,650

In [106]:
nba_20_21_df = nba_20_21_df.dropna()
nba_20_21_df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF,21,MIA,61,4,737,124,228,...,0.509,73,135,208,29,20,28,43,91,304
2,3,Steven Adams,C,27,NOP,58,58,1605,189,308,...,0.444,213,301,514,111,54,38,78,113,438
3,4,Bam Adebayo,C,23,MIA,64,64,2143,456,800,...,0.799,142,431,573,346,75,66,169,145,1197
4,5,LaMarcus Aldridge,C,35,TOT,26,23,674,140,296,...,0.872,19,99,118,49,11,29,27,47,352
5,5,LaMarcus Aldridge,C,35,SAS,21,18,544,115,248,...,0.838,17,77,94,36,8,18,20,36,288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,536,Delon Wright,PG,28,SAC,27,8,696,104,225,...,0.833,28,77,105,97,43,11,35,30,271
701,537,Thaddeus Young,PF,32,CHI,68,23,1652,370,662,...,0.628,168,255,423,291,74,40,137,152,823
702,538,Trae Young,PG,22,ATL,63,63,2125,487,1112,...,0.886,38,207,245,594,53,12,261,111,1594
703,539,Cody Zeller,C,28,CHO,48,21,1005,181,324,...,0.714,119,209,328,86,27,17,51,121,451
704,540,Ivica Zubac,C,23,LAC,72,33,1609,257,394,...,0.789,189,330,519,90,24,62,81,187,650

In [107]:
nba_20_21_df = nba_20_21_df.drop_duplicates("Player", keep='last')
nba_20_21_df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF,21,MIA,61,4,737,124,228,...,0.509,73,135,208,29,20,28,43,91,304
2,3,Steven Adams,C,27,NOP,58,58,1605,189,308,...,0.444,213,301,514,111,54,38,78,113,438
3,4,Bam Adebayo,C,23,MIA,64,64,2143,456,800,...,0.799,142,431,573,346,75,66,169,145,1197
6,5,LaMarcus Aldridge,C,35,BRK,5,5,130,25,48,...,1.000,2,22,24,13,3,11,7,11,64
7,6,Ty-Shon Alexander,SG,22,PHO,15,0,47,3,12,...,0.500,2,8,10,6,0,1,3,2,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,536,Delon Wright,PG,28,SAC,27,8,696,104,225,...,0.833,28,77,105,97,43,11,35,30,271
701,537,Thaddeus Young,PF,32,CHI,68,23,1652,370,662,...,0.628,168,255,423,291,74,40,137,152,823
702,538,Trae Young,PG,22,ATL,63,63,2125,487,1112,...,0.886,38,207,245,594,53,12,261,111,1594
703,539,Cody Zeller,C,28,CHO,48,21,1005,181,324,...,0.714,119,209,328,86,27,17,51,121,451
704,540,Ivica Zubac,C,23,LAC,72,33,1609,257,394,...,0.789,189,330,519,90,24,62,81,187,650

In [110]:
for col in nba_19_20_df.columns:
    print(col)

Rk
Player
Pos
Age
Tm
G
GS
MP
FG
FGA
FG%
3P
3PA
3P%
2P
2PA
2P%
eFG%
FT
FTA
FT%
ORB
DRB
TRB
AST
STL
BLK
TOV
PF
PTS

In [ ]:
# drop_columns_sum_19_20_df = nba_19_20_df.drop(columns=['B', 'C'])

In [111]:
merged_mean_df = pd.concat((nba_19_20_df, nba_20_21_df))
merged_mean_df.groupby(df3.'Player').mean()
merged_mean_df

SyntaxError: invalid syntax (<ipython-input-111-5d3a90c42cab>, line 2)

In [ ]:
# Check gun_df columns
for col in gun_df.columns:
    print(col)

In [ ]:
# Select needed columns
gun_cols = ["incident_id",
            "date",
            "state",
            "address",
            "n_killed",
            "n_injured",
            "latitude",
            "longitude"]
            
gun_cleaned_df= gun_df[gun_cols].copy()
gun_cleaned_df.head()

In [ ]:
# Filter to Florida incidents

gun_FL_df = gun_cleaned_df[gun_cleaned_df['state'] == "Florida"]
gun_FL_df.head()

In [ ]:
# drop NaN values
gun_FL_df = gun_FL_df.dropna()
gun_FL_df.head()

In [ ]:
# Geolocate cities / towns of gun incidents using latitude and longitude with Citipy
# create list empty for cities
cities = []

# loop on gun florida dataframe
for col in gun_FL_df.columns:
    lats = gun_FL_df['latitude']
    lngs = gun_FL_df['longitude']    
# create a tuple with both latitudes and longitudes
    lat_lngs = zip(lats, lngs)
    
#     Identify nearest city for each lat, lng combination, use citipy,
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
#     # If the city is not already in our list, then add it to cities list
#     if city not in cities:
    cities.append(city)
# cities

In [ ]:
# Print the city count to confirm sufficient count
len(cities)

In [ ]:
gun_FL_df['city'] = cities
gun_FL_df

In [ ]:
# Reset index of dataframe
gun_FL_df = gun_FL_df.reset_index(drop=True)
gun_FL_df.head()

### TRANSFORM DataFrame Income

In [ ]:
for col in income_df.columns:
    print(col)

In [ ]:
# Select needed columns only for a dataframe
income_cols = ["State_Name",
            "State_ab",
            "County",
            "City",
            "Mean",
            "Median"]
            
income_cleaned_df= income_df[income_cols].copy()
income_cleaned_df.head()

In [ ]:
# Rename some columns to avoid further problems in merge
income_cleaned_df = income_cleaned_df.rename(columns={"State_Name": 'state_name',
                                                        "City": "city",
                                                      "Mean": "mean_income",
                                                      "Median": "median_income"
                                                       })
income_cleaned_df.head()

In [ ]:
# Florida income of cities and counties filtered

income_FL_df = income_cleaned_df[income_cleaned_df['State_ab'] == "FL"]
income_FL_df.head()

In [ ]:
income_FL_df = income_FL_df.drop_duplicates("city")
income_FL_df.head()

In [ ]:
# city name to lowercase to avoid problems merging
income_FL_df["city"] = income_FL_df["city"].str.lower()
income_FL_df.head()

In [ ]:
# reset index
income_FL_df = income_FL_df.reset_index(drop=True)
income_FL_df.head()

In [ ]:
gun_FL_merged_1_df = pd.merge(gun_FL_df, income_FL_df, how='left', on='city')
gun_FL_merged_1_df.head()

In [ ]:
# Drop empty fields after merging
gun_FL_merged_1_df = gun_FL_merged_1_df.dropna()
# gun_FL_merged_1_df

In [ ]:
# drop duplicated state column after merged
gun_FL_merged_1_df = gun_FL_merged_1_df.drop(columns=['state'])
gun_FL_merged_1_df.head()

In [ ]:
# rename state column after merged
gun_FL_merged_1_df = gun_FL_merged_1_df.rename(columns={"State_ab": "state_ab",
                                                        "County": "county",
                                                       })

In [ ]:
# reset index for merged dataframe
gun_FL_merged_1_df = gun_FL_merged_1_df.reset_index(drop=True)
gun_FL_merged_1_df.head()

### TRANSFORM DataFrame Poverty

In [ ]:
# Check unmemployment dataframe columns
for col in poverty_df.columns:
    print(col)

In [ ]:
poverty_df.head()

In [ ]:
# Florida unmeployment of counties filtered
poverty_df = poverty_df[poverty_df['Stabr'] == "FL"]
poverty_df.head()

In [ ]:
# drop 1st row, statistics for whole Florida state. By selecting all rows from first row onwards
poverty_df = poverty_df.iloc[1: , :]
poverty_df.head()

In [ ]:
# Select needed columns only for a dataframe
poverty_cols = ["Area_name",
            "POVALL_2019",
            "PCTPOVALL_2019"]          
poverty_FL_cleaned_df= poverty_df[poverty_cols].copy()

# print all rows to see area_name contents
pd.set_option("display.max_rows", None)
# print(unempl_FL_cleaned_df)
poverty_FL_cleaned_df.head()

In [ ]:
# unempl_FL_cleaned_df.columns
for col in poverty_FL_cleaned_df.columns:
    print(col)

In [ ]:
# clean field area name after space
poverty_FL_cleaned_df["Area_name"] = poverty_FL_cleaned_df["Area_name"].str.split(' ').str[0]
poverty_FL_cleaned_df.head()

In [ ]:
# rename area_name to county so we can merge

poverty_FL_cleaned_df = poverty_FL_cleaned_df.rename(columns={"Area_name": "county",
                                                              "POVALL_2019":"Poverty_population",
                                                              "PCTPOVALL_2019": "Poverty_rate"
                                                           })
poverty_FL_cleaned_df.head()

In [ ]:
# reset index
poverty_FL_cleaned_df = poverty_FL_cleaned_df.reset_index(drop=True)
poverty_FL_cleaned_df.head()

In [ ]:
# This apply(str) is being used because merging was returning an error due to an empty space
# after shorting field

gun_FL_merged_1_df['county'] = gun_FL_merged_1_df['county'].apply(str).str.strip()
gun_FL_merged_1_df.head()

In [ ]:
# This apply(str) is being used because merging was returning an error due to an empty space
# after shorting field

poverty_FL_cleaned_df['county'] = poverty_FL_cleaned_df['county'].apply(str).str.strip()
poverty_FL_cleaned_df.head()

# df1.col1 = df1.col1.apply(str).str.strip()

In [ ]:
# merge with previous dataframe
gun_FL_merged_2_df = pd.merge(gun_FL_merged_1_df, poverty_FL_cleaned_df, how="left", on="county")
gun_FL_merged_2_df.head()

### TRANSFORM DataFrame Unemployment

In [ ]:
# Check unemployment dataframe columns
for col in unempl_df.columns:
    print(col)

In [ ]:
unempl_df.head()

In [ ]:
# Florida unmeployment counties filtered
unempl_FL_df = unempl_df[unempl_df['Stabr'] == "FL"]
unempl_FL_df.head()

In [ ]:
# drop 1st row, statistics for whole Florida state. By selecting all rows from first row onwards
unempl_FL_df = unempl_FL_df.iloc[1: , :]
unempl_FL_df.head()

In [ ]:
# Select needed columns only for a dataframe
unempl_cols = ["area_name",
            "Unemployed_2019",
            "Unemployment_rate_2019"]          
unempl_FL_df= unempl_FL_df[unempl_cols].copy()

# print(unempl_FL_cleaned_df)
unempl_FL_df.head()

In [ ]:
# Extract county name from area name string by splitting field from 1st space.
unempl_FL_df["area_name"] = unempl_FL_df["area_name"].str.split(' ').str[0]
unempl_FL_df.head()

In [ ]:
# rename area_name to county so we can merge

unempl_FL_df = unempl_FL_df.rename(columns={"area_name": "county",
                                            "Unemployed_2019": "Unemployed_n",
                                            "Unemployment_rate_2019": 'Unemployed_rate'
                                           })
unempl_FL_df.head()

In [ ]:
# reset index
unempl_FL_df = unempl_FL_df.reset_index(drop=True)
unempl_FL_df.head()

In [ ]:
gun_FL_merged_3_df = pd.merge(gun_FL_merged_2_df, unempl_FL_df, how="left", on="county")
gun_FL_merged_3_df.head()

### Final TRANSFORMATION adjustments DataFrame

In [ ]:
gun_FL_final_df = gun_FL_merged_3_df.dropna()
gun_FL_final_df.head()

In [ ]:
gun_FL_final_df = gun_FL_final_df.reset_index(drop=True)
gun_FL_final_df.head()

In [ ]:
gun_FL_final_df = gun_FL_final_df.rename(columns={"Poverty_rate": "poverty_rate",
                                                  "Poverty_population": "poverty_population",
                                                        "Unemployed_n": "unemployed_n",
                                                        "Unemployed_rate": "unemployed_rate",
                                                       })
gun_FL_final_df.head()

In [ ]:
# Set index as incident_id
gun_FL_final_df.set_index("incident_id", inplace=True)

In [ ]:
# gun_FL_final_df.head()
len(gun_FL_final_df)

In [ ]:
gun_FL_csv_df = gun_FL_final_df.to_csv('data/gun_FL_final_df.csv')
gun_FL_csv_df

## LOADING Phase

### Create database connection

In [ ]:
# 1. Connection to postgres DB
# adding database name 'gun_FL_db'

connection_string = (f'postgres://{user}:{passw}@localhost:5432/gun_FL_db')
engine = create_engine(connection_string)                     
conn = engine.connect()

In [ ]:
# Confirm tables
engine.table_names()

### Load DataFrames into database

In [ ]:
# records of dataframe appending 'gunsfl' table 
# gun_FL_final_df.to_sql(name='gunsfl', con=engine, if_exists='append', index=True)
gun_FL_final_df.to_sql(name='gunsfl', con=engine, if_exists='replace', index=True)